<div class="gif-search-header-container">
  <div class="gif-search-header">
    <h1>Gif Search</h1>
  </div>
  <div>
    <div class="search-bar select-options">
      <mcf-input
        type="text"
        class="header-input"
        placeholder="What are you looking for?"
        [(ngModel)]="searchTerm"
      ></mcf-input>

      <select disabled>
        <option value="Show All">Show All</option>
      </select>

      <button class="search-btn" (click)="getGifs()"
        ><i class="fa fa-search"></i>
      </button>
    </div>
  </div>
  <div class="search-info-text">
    <h3>You can search any gif with our search</h3>
  </div>
  <div>
    <p>
      Everything you need for your creative projects, websites, banners,
      presentations, magazines and advertising.
    </p>
  </div>
</div>
