@import 'src/styles/_variables';

.gif-search-container {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    .gif-search-header-container {
        background: $header_color;
        flex: 0 0 100%;
        min-height: 30%;
        max-height: fit-content;
        border: 1px solid red;
    }
    .gif-search-results-container {
        background: $results_background;
        flex: 0 0 100%;
        min-height: 70%;
        max-height: fit-content;
        border: 1px solid green;
    }
}