$header_color: linear-gradient(166deg, rgba(179,84,0,1) 0%, rgba(254,109,0,1) 34%);
$results_background: #F7F7F7;
$footer_dark_background: #363B3E;
$gray: #8F989D;
$light_gray: #B4BDC2;
$footer_btn_color: #2C89B5;
$white: white;