@import './variables';

.light-text {
    color: $white;
}
.header-text-large {
    font-size: 70px;
}
.header-text-small {
    font-size: 18px;
}
.large-text {
    font-size: 24px;
}
.footer-small-text {
    font-size: 14px;
}