.body-container {
    height: 200vh;
    display: flex;
    flex-flow: row wrap;
    .gif-search {
        flex: 0 0 100%;
        min-height: 75%;
        max-height: fit-content;
        border: 1px solid black;
    }
    .app-footer {
        flex: 0 0 100%;
        min-height: 25%;
        max-height: fit-content;
    }
}