@import 'src/styles/_variables';

.footer-container {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    .footer-top {
        flex: 0 0 100%;
        height: 80%;
        background: $footer_dark_background;
    }
    .footer-bottom {
        flex: 0 0 100%;
        height: 20%;
        background: $footer_white_background;
    }
}